.centerDiv {
    display: flex;
    justify-content: center;
}

.customFileInput {
    width: 50% !important;  /* Adjust width as needed */
}

.urlInput {
    width: 50% !important;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 30px;  /* Adding margin top to move the spinner down */
}

/* Basic spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Primary color */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.resultsGrid {
  padding-top: 20px; /* Adding padding to top of the results grid */
}

.resultEntry {
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensures contents align at the flex start */
}

.resultLabel {
  font-weight: 600;
  margin-bottom: 5px;
  padding-left: 0; /* No padding to align exactly with the start of the progress bar */
}

.progressBar {
  width: 100%;
  max-width: 50%; /* Ensures the progress bar doesn't exceed half the parent's width */
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  /* Remove padding that affects the internal alignment */
}

.progressBarFill {
  height: 20px;
  background-color: #3498db;
  text-align: right;
  border-radius: 8px;
  padding-right: 10px; /* Padding for the label inside the bar */
  color: white;
  line-height: 20px;
  white-space: nowrap;
}

.container {
  width: 90%; /* or some specific width if you prefer */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns child elements to the center */
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSpacing {
    margin-right: 20px; /* 20px fixed space to the right of the first button */
}

.roundedImage {
    border-radius: 10px;
}

/* In your ImageUploader.module.css or a separate CSS file */

.toastCustom {
    min-width: 70%; /* Set the minimum width */
    font-size: 1rem; /* Set the font size */
}
