/* styles.module.css */
.mainContainer {
  margin: 0 auto; /* Centers the container horizontally */
  padding-top: 20px; /* Adds space to the top */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns child elements to the start */
}

.resultEntry {
  width: 100%; /* Each result entry takes the full width of the main container */
  margin-bottom: 10px; /* Space between entries */
}

.resultLabel {
  text-align: left; /* Aligns the text to the left */
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: space-between; /* Creates space between items */
}

.progressBar {
  width: 100%; /* Full width of the parent */
  height: 20px;
  background-color: #e0e0de;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px; /* Space between progress bars */
}

/* styles.module.css */
.progressBarFill {
  background-color: #3498db;
  height: 20px; /* Fixed height for visual consistency */
  display: flex;
  align-items: center; /* Vertically center the text inside the bar */
  justify-content: flex-start; /* Align text to the start (left) */
  color: white;
  padding-left: 5px; /* Adequate padding for text from the left edge */
  border-radius: 4px;
  font-size: 12px; /* Smaller font size to prevent overflow */
  white-space: nowrap; /* Prevent text from wrapping */
}

.vernacularName {
  font-weight: bold; /* Make the vernacular name bold */
}

.scientificName {
  font-style: italic;
  font-weight: normal; /* Ensure the scientific name is not bold */
}

.resultsContainer {
  /* Container styles */
}

.nameAndIconsContainer {
  display: flex;
  align-items: center; /* Align items at the same level */
}

.icon {
  height: 48px;
  width: auto; /* Standard icon size */
  display: inline-block;
  margin-left: 8px;
  color: #777; /* Icon color, customize as needed */
}

.icon:hover {
  color: #000; /* Icon hover effect */
}

.icons {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: end; /* Aligns items to the end of the grid container (right) */
}

.gbifObservations {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); /* Adjust 100px to your thumbnail size */
    gap: 8px; /* Margin between thumbnails */
    justify-items: center; /* Center items horizontally */
}

.thumbnail {
    width: 100%; /* Ensure thumbnails fill their grid cell */
    height: auto; /* Ensure thumbnails maintain aspect ratio */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    object-fit: cover; /* Maintain image aspect ratio and crop as needed */
    cursor: pointer; /* Make thumbnails clickable */
    border-radius: 4px; /* Rounded corners for thumbnails */
}
